{% extends 'work/main.html' %}
{% load static  %}
{% block title %} details {% endblock %}

{% block page_title %} Job-details {% endblock%}

{% block content %}

<div class="text-center col mt-5 py-3">
    <div class="card-header">
      <span class="h2">{{ jobs.title}} {{ jobs.name}}</span>
    </div>
</div>

<div class="col">
    <span class="h7 justify-content-end"><em>5 more days left for delivery</em></span>
</div>

<div class="card text-center col">
    <div>
        <a href="{{ fabric_image_1_url }}">
            <img src="{{ fabric_image_1_url }}" class="img-thumbnail rounded float-center my-3 col-4 "  alt="">
        </a>
    </div>
    <a href="{% url 'work_operation' %}">
        <div class="spinner-grow text-primary" role="status">
            <span class="visually-hidden">Loading...</span>
        </div>
    </a>


    <div class="container bg-tertiary">

        <div class="border border-secondary my-4 bg-light">
            <div class="border border-secondary m-4">
                <p> Start Date:</p>
                <h6> {{ jobs.start_date}}</h6>
            </div>
            <div class="border border-secondary m-4">
                <p> Delivery Date:</p>
                <h6> {{ jobs.delivery_date }}</h6>
            </div>
            <div class="border border-secondary m-4">
                <p> Status:</p>
                <h6> {{ jobs.status }}</h6>
            </div>
            <div class="border border-secondary m-4">
                <p> Fabric_Yard:</p>
                <h6> {{ jobs.fabric_yardage }}</h6>
            </div>
        </div>

        <a href="{% url 'work_clientdetails' jobs.name jobs.measurement_id %}">
            <div class="col-8 container overflow-hidden text-center ">
                <div class="p-2 h5 text-light bg-secondary ">Measurement</div>
            </div>
        </a>
        



        <div class="border border-secondary my-4 bg-light">
            <div class="row ">
                <div class="col-6">Fabric 1
                    <img src="{{ fabric_image_1_url }}" class="img-fluid" alt=""> 
                </div>
                <div class="col-6"> Fabric 2
                    <img src="{{ fabric_image_2_url }}" class="img-fluid" alt="">
                </div>
            </div>
            <div class="border border-secondary m-4"><p> Fabric note:</p>
            <h6> {{ jobs.fabric_note}}</h6>
            </div>
        </div>
        
        <div class="border border-secondary my-4 bg-light">
            <div class="row ">
                <div class="col-6">Top Design Image1
                    <a href="{{ top_design_image_1_url }}">
                        <img src="{{ top_design_image_1_url }}" class="img-fluid " alt="">
                    </a>
                </div>
                <div class="col-6">Top Design Image2
                    <a href="{{ top_design_image_2_url }}">
                        <img src="{{ top_design_image_2_url }}" class="img-fluid " alt="">
                    </a>
                </div>
            </div>
            <div class="border border-secondary m-4">
                <p> Top Design note:</p>
                <h6> {{ jobs.top_design_note}}</h6>
            </div>
        </div>

        <div class="container border border-secondary my-4 bg-light">
            <div class="row ">
                <div class="col-6">Trouser Design Image
                    <img src="{{ trouser_design_image_url  }}" class="img-fluid " alt=""> 
                </div>
                <div class="col-6">Agbada Design Image
                    <img src="{{ agbada_design_image_url }}" class="img-fluid " alt="">
                </div>
            </div>
            <div class=" border row justify-content-evenly ">
                <div class="border border-secondary my-2 col-5">
                    <p>Trouser Design note:</p>
                    <h6> {{ jobs.trouser_design_note}}</h6>
                </div>
                <div class="border border-secondary my-2 col-5">
                    <p>Agbada Design note:</p>
                    <h6> {{ jobs.agbada_design_note}}</h6>
                </div>
            </div>
        </div>
        
        
        
        <div class="container border border-secondary my-4 bg-light">
            <div class="row ">
                <div class="col-6">Cap Fabric Image
                    <img src="{{ cap_fabric_image_url }}" class="img-fluid " alt=""> 
                </div>
                <div class="col-6">Cap Design Image
                    <img src="{{ cap_design_image_url }}" class="img-fluid " alt="">
                </div>
            </div>
            <div class=" border row justify-content-evenly ">
                <div class="border border-secondary m-2 col-5">
                    <p>Cap Fabric note:</p>
                    <h6> {{ jobs.cap_design_note}}</h6>
                </div>
                <div class="border border-secondary m-2 col-5">
                    <p>Cap Design note:</p>
                    <h6> {{ jobs.cap_design_note}}</h6>
                </div>
            </div>
        </div>

        <div class="border border-secondary my-4 bg-light">
            <div class="border border-secondary m-4">
                <p> Top Worker:</p>
                <h6> {{ jobs.worker}}</h6>
            </div>
            <div class="border border-secondary m-4">
                <p> Trouser Worker:</p>
                <h6> {{ jobs.}</h6>
            </div>
            <div class="border border-secondary m-4">
                <p> Cap Worker:</p>
                <h6> {{ jobs.t}</h6>
            </div>
            <div class="border border-secondary m-4">
                <p> Agbada Worker:</p>
                <h6> {{ jobs.}</h6>
            </div>
        </div>
    </div>
</div>



{% endblock content %}