<!DOCTYPE html>
{% load static %}
<html lang="en">
  <head>

    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title%} {% endblock%} - Neeyee</title>

    <!-- CSS only -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-4bw+/aepP/YC94hEpVNVgiZdgIC5+VKNBQNGCHeKRQN+PtmoHDEXuppvnDJzQIu9" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.5/font/bootstrap-icons.css">
    <link rel="stylesheet" href="{% static 'work/css/main.css' %}">

  </head>
  <body>


    {% block navbar%}
    <nav class="navbar bg-primary md-5 fixed-top">
        <div class="container-fluid">
          <a class="navbar-brand" href="{% url 'work_home'%}">
            <img src="{% static 'work/media/blue_neeyee_logo.png' %}" alt="neeyee logo" width="40" height="40"> <span>{% block page_title %} {% endblock%} </span>
          </a>
          <button class="navbar-toggler" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasNavbar" aria-controls="offcanvasNavbar" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="offcanvas offcanvas-end" tabindex="-1" id="offcanvasNavbar" aria-labelledby="offcanvasNavbarLabel">
            <div class="offcanvas-header">
              <h5 class="offcanvas-title" id="offcanvasNavbarLabel">Sidebar</h5>
              <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
            </div>
            <div class="offcanvas-body">
              <ul class="navbar-nav justify-content-end flex-grow-1 pe-3">
                <li class="nav-item">
                  <a class="nav-link active" aria-current="page" href="{% url 'work_client'%}">Client</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="{% url 'work_home' %}">store</a>
                </li>
              <form class="d-flex mt-3" role="search">
                <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
                <button class="btn btn-outline-success" type="submit">Search</button>
              </form>
            </div>
          </div>
        </div>
    </nav>
    
    {% endblock navbar%}



    {% block content%}

    
    {% endblock content%}



    {% block footer%}
    <nav class="navbar-brand mt-5 row fixed-bottom">
      <div class=" row-12 ">
        <a class="  col-3   btn-primary btn" href="{% url 'work_home'%}"><span class="text-start">Home</span>
        </a>

        <a class="  col-3 btn-primary btn " href="{% url 'work_operation'%}"><span class="text-start">Operation</span>
        </a>
        
        <a class="col-3 btn-primary btn" href="{% url 'work_myprofile' %}">Profile
        </a>
        
        <a class=" col-3 btn-primary btn" href="{% url 'work_home'%}">Signin
        </a>
      </div>
    </nav>
    
    {% endblock footer%}

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/js/bootstrap.min.js" integrity="sha384-Rx+T1VzGupg4BHQYs2gCW9It+akI2MM/mndMCy36UVfodzcJcF0GGLxZIzObiEfa" crossorigin="anonymous"></script>
    
  </body>
</html>