<!DOCTYPE html>
{% load static %}
{% load account %}
<html lang="en">
  <head>

    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title%} {% endblock%} - Neeyee</title>

    <!-- Favicon -->
    <link rel="icon" type="image/x-icon" href="{% static 'store/media/blue_neeyee_favicon.png' %}">

    <!-- CSS only -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-4bw+/aepP/YC94hEpVNVgiZdgIC5+VKNBQNGCHeKRQN+PtmoHDEXuppvnDJzQIu9" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.5/font/bootstrap-icons.css">
    <link rel="stylesheet" href="{% static 'work/css/main.css' %}">

  </head>
  <body>


    {% block navbar%}
   
    <nav class="navbar navbar-expand-lg navbar-light mb-4 bg-primary">
      <div class="container-fluid">
        <a class="navbar-brand" href="{% url 'work_home'%}">
          <img src="{% static 'work/media/blue_neeyee_logo.png' %}" alt="neeyee logo" width="40" height="40">
        </a>
        <h6>Welcome, {% user_display user %}</h6>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarTogglerDemo02" aria-controls="navbarTogglerDemo02" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarTogglerDemo02">
          <ul class="navbar-nav me-auto mx-lg-5 mb-2 text-end-lg mb-lg-0">
            <li class="nav-item">
              <a class="nav-link active" aria-current="page" href="{% url 'work_home'%}">Home</a>
            </li>
            
                <form action="{%url 'account_logout' %}"><button>
                    Logout
                </button></form>
            </li>
          </ul>
          <!--
          <form class="d-flex">
            <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
            <button class="btn btn-outline-success" type="submit">Search</button>
          </form>
          -->
        </div>
      </div>
    </nav>
    
    {% endblock navbar%}



    {% block content%}

    
    {% endblock content%}



    {% block footer%}
    <nav class="navbar-brand text-center bg-primary mx-auto  mt-5 row fixed-bottom">
      <div class=" text-center ">
        <a class=" text-center btn-primary btn" href="{% url 'work_home'%}"><span class="text-start">Home</span>
        </a>

        
     
      </div>
    </nav>
    
    {% endblock footer%}

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/js/bootstrap.min.js" integrity="sha384-Rx+T1VzGupg4BHQYs2gCW9It+akI2MM/mndMCy36UVfodzcJcF0GGLxZIzObiEfa" crossorigin="anonymous"></script>
    
  </body>
</html>