<section class="product">
  <h2 class="product-category">best selling</h2>
  <button class="pre-btn"><img src="{% static 'store/media/arrow.png' %}" alt=""></button>
  <button class="nxt-btn"><img src="{% static 'store/media/arrow.png' %}" alt=""></button>
  <div class="product-container">
    <div class="product-card">
        <div class="product-image">
            <span class="discount-tag">50% off</span>
            <img src="{% static 'store/media/light_ash.jpg' %}" class="product-thumb" alt="">
            <button class="card-btn">add to whislist</button>
        </div>
        <div class="product-info">
            <h2 class="product-name">brand</h2>
            <p class="product-short-des">a short line about the cloth..</p>
            <span class="price">$20</span><span class="actual-price">$40</span>
        </div>
    </div>

    
  </div>
</section>


<section class="product">
  <h2 class="product-category">Categories</h2>
  <button class="pre-btn"><img src="{% static 'store/media/arrow.png' %}" alt=""></button>
  <button class="nxt-btn"><img src="{% static 'store/media/arrow.png' %}" alt=""></button>
  <div class="product-container">
    <div class="product-card">
        <div class="product-image">
            <span class="discount-tag">50% off</span>
            <img src="{% static 'store/media/light_ash.jpg' %}" class="product-thumb" alt="">
            <button class="card-btn">add to whislist</button>
        </div>
        <div class="product-info">
            <h2 class="product-name">brand</h2>
            <p class="product-short-des">a short line about the cloth..</p>
            <span class="price">$20</span><span class="actual-price">$40</span>
        </div>
    </div>

    
  </div>
</section>