
{% extends 'store/main.html' %}
{% load static %}
{% block title %} Home {% endblock %}

{% block content %}
 <!--the whole home content-->
 <div class="container-fluid row-12">
    <!--the carrousel-->
    <div id="carouselExampleInterval" class="carousel slide " data-bs-ride="carousel">

        <div class="carousel-inner">
          <div class="carousel-item active" data-bs-interval="10000">
            <img src="{% static 'store/media/header.png' %}" class="d-block w-100" alt="...">
            <div class="carousel-caption">
                <h2>Limited-Time Offer: Up to 5000% Off</h2>
                <p>Discover the Perfect Outfit for Every Occasion</p>
            </div>
          </div>
          <div class="carousel-item" data-bs-interval="2000">
            <img src="{% static 'store/media/header2.jpg' %}" class="d-block w-100" alt="...">
            <div class="carousel-caption Text-center ">
                <h2>Get Styled</h2>
                <p>"Timeless Elegance: Our New Arrivals"</p>
            </div>
          </div>
          <div class="carousel-item">
            <img src="{% static 'store/media/header3.jpg' %}" class="d-block w-100" alt="...">
            <div class="carousel-caption">
                <h2>Explore the Collection</h2>
                <p>Elevate Your Style with Our Latest Collection</p>
            </div>
          </div>
        </div>
        
        <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleInterval" data-bs-slide="prev">
          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
          <span class="visually-hidden">P</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleInterval" data-bs-slide="next">
          <span class="carousel-control-next-icon" aria-hidden="true"></span>
          <span class="visually-hidden">N</span>
        </button>
    </div>

    


    
    <!--product card for mobile only-->
    <div class=" mb-2 d-block d-md-none">
        <div class="bg-light p-2 " >
            <h3 class="mx-1 mb-0 ">Best selling</h5>
        </div>
        
          
        <div class=" product-container  border bg-light container  ">
            <div class="d-flex flex-row overflow-auto  ">

              <div class="card col-4 m-1 ">
                <img src="{% static 'store/media/light_ash.jpg' %}" class="card-img-top" alt="...">
                <div class="text-start ">
                  <h5 class=" small-text">Light Ash Kaftan with Patch Pocket</h5>
                  <h6 class="col-12 price"><small> <strong>#65,999</strong></small></h6>
                  <div class="small-text">
                    <span class="text start"><s>#86,6968</s></span>
                    <span class="text-end">50% off</span>
                  </div>
                </div>
              </div>

              <div class="card col-4 m-1 ">
                <img src="{% static 'store/media/light_ash.jpg' %}" class="card-img-top" alt="...">
                <div class="text-start ">
                  <h5 class=" small-text">Light Ash Kaftan with suit Pocket</h5>
                  <h6 class="col-12 price"><small> <strong>#65,999</strong></small></h6>
                  <div class="small-text">
                    <span class="text start"><s>#86,6968</s></span>
                    <span class="text-end">50% off</span>
                  </div>
                </div>
              </div>

              <div class="card col-4 m-1">
                <img src="{% static 'store/media/light_ash.jpg' %}" class="card-img-top" alt="...">
                <div class="text-start ">
                  <h5 class=" small-text">Check Ash Kaftan</h5>
                  <h6 class="col-12 price"><small> <strong>#65,999</strong></small></h6>
                  <div class="small-text">
                    <span class="text start"><s>#86,6968</s></span>
                    <span class="text-end">50% off</span>
                  </div>
                </div>
              </div>

              <div class="card col-4 m-1">
                <img src="{% static 'store/media/light_ash.jpg' %}" class="card-img-top" alt="...">
                <div class="text-start ">
                  <h5 class=" small-text">Plain green Kaftan with Patch Pocket</h5>
                  <h6 class="col-12 price"><small> <strong>#65,999</strong></small></h6>
                  <div class="small-text">
                    <span class="text start"><s>#86,6968</s></span>
                    <span class="text-end">50% off</span>
                  </div>
                </div>
              </div>

              <div class="card  col-4 m-1">
                <img src="{% static 'store/media/light_ash.jpg' %}" class="card-img-top" alt="...">
                <div class="text-start ">
                  <h5 class=" small-text">Yello-custard Kaftan</h5>
                  <h6 class="col-12 price"><small> <strong>#65,999</strong></small></h6>
                  <div class="small-text">
                    <span class="text start"><s>#86,6968</s></span>
                    <span class="text-end">50% off</span>
                  </div>
                </div>
              </div>

              <div class="card col-4 m-1">
                <img src="{% static 'store/media/light_ash.jpg' %}" class="card-img-top" alt="...">
                <div class="text-start ">
                  <h5 class=" small-text">Fine-grained khaki kaftan</h5>
                  <h6 class="col-12 price"><small> <strong>#6,999</strong></small></h6>
                  <div class="small-text">
                    <span class="text start"><s>#86,6968</s></span>
                    <span class="text-end">50% off</span>
                  </div>
                </div>
              </div>

            </div>

            
           
        </div>
    </div>
    

    <!--product categories mobile-only -->
    <div class="my-2 d-block d-md-none">
      <div class="bg-light py-1  " >
          <h3 class="mx-2 mb-0 mt-1">Categories</h5>
      </div>
        
        <div id="carouselExample5" class="carousel slide bg-light product-container container-fluid"  data-bs-ride="carousel">
          <div class="carousel-inner overflow-auto ">
            <div class=" d-flex flex-row  ">
              <div class="col-6 m-0 text-center">
                    <img src="{% static 'store/media/light_ash.jpg' %}" class="img-thumbnail  " alt="...">
                    <div class=" text-size h2 p-4 position-relative bottom-50">Kaftan</div>
              </div>

              <div class="col-6 m-0 text-center">
                <img src="{% static 'store/media/light_ash.jpg' %}" class="img-thumbnail  " alt="...">
                <div class="h2 text-size p-4 position-relative bottom-50">Agbada</div>
              </div>

              <div class="col-6 m-0 text-center ">
                <img src="{% static 'store/media/light_ash.jpg' %}" class="img-thumbnail " alt="...">
                <div class="h2 p-4 text-size position-relative bottom-50">Caps</div>
              </div>

              <div class="col-6 m-0 text-center ">
                <img src="{% static 'store/media/light_ash.jpg' %}" class="img-thumbnail" alt="...">
                <div class="h2 p-4 text-size position-relative bottom-50">Dashiki</div>
              </div>

              <div class="col-6 m-0 text-center">
                <img src="{% static 'store/media/light_ash.jpg' %}" class="img-thumbnail" alt="...">
                <div class="h2 p-4 text-size text-center position-relative bottom-50">Trouser</div>
              </div>

            </div>
          </div>
          <button class="carousel-control-prev" type="button" data-bs-target="#carouselExample5" data-bs-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Previous</span>
          </button>
          <button class="carousel-control-next" type="button" data-bs-target="#carouselExample5" data-bs-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Next</span>
          </button>
        </div>


      </div>  
   
        

    <!--product card for desktop only-->
    <div class=" mb-3 d-none d-md-block">
        <div class="bg-light " >
            <h3 class="mx-2">Best selling</h5>
        </div>
        
            
        <div class="container-fluid product-container mx-0 bg-light row row-cols-3 row-cols-md-3 g-2  ">
            <div class="col">
              <div class="card h-100">
                    <img src="{% static 'store/media/light_ash.jpg' %}" class="card-img-top" alt="...">
                    <div class="text-start card ">

                        <h5 class=" small-text">Light Ash with suit pocket Kaftan</h5>
                        <h6 class="col-sm-6 text-start"><small> <strong>#65,00000</strong></small></h6>
                        <span class="row">
                            <small class=" col-12 small-text" style="opacity: 0.5;"><s>#80000</s></small>
                            <span class="col-12 small-text">50% Off</span>
                    </span>
                    </div>
              </div>
            </div>

            
           
        </div>
    </div>

    <!--product categories for desktop-->
    <div class=" mb-3 d-none d-md-block">
        <div class="bg-light " >
            <h3 class="mx-2">Categories</h5>
        </div>
        
            
        <div class="container-fluid product-container mx-0 bg-light row row-cols-3 row-cols-md-3 g-2  ">
            <div class="col">
              <div class="card h-100 image-container">
                    <img src="{% static 'store/media/light_ash.jpg' %}" class="" alt="...">
                    <div class="overlay-text">
                        Kaftans
                    </div>

              </div>
            </div>

            <div class="col">
                <div class="card h-100">
                      <img src="{% static 'store/media/404.png' %}" class="card-img-top" alt="...">
                </div>
              </div>

              <div class="col">
                <div class="card h-100">
                      <img src="{% static 'store/media/men-collection.png' %}" class="card-img-top" alt="...">
                </div>
              </div>

              
               <div class="col">
              <div class="card h-100">
                    <img src="{% static 'store/media/light_ash.jpg' %}" class="card-img-top" alt="...">
              </div>
            </div>
        </div>
      </div>
    </div>





    
    





 

  </div>    
{% endblock content %}
