<!DOCTYPE html>
{% load static %}
<html lang="en">

  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title%} {% endblock%} - Neeyee</title>

    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">


    <!-- Custom CSS -->
    <link rel="stylesheet" href="{% static 'store/css/index.css' %}" />
    <link rel="stylesheet" href="{% static 'store/css/home.css' %}">
    <link rel="stylesheet" href="{% static 'store/css/footer.css' %}">
  </head>

  
  <body>
    {% block navbar %}
    <!-- for mobile view -->
    <div class="container d-block d-md-none">
      <nav class="navbar navbar-tabs fixed-top navbar-light bg-light">
        <div class="container-fluid justify-content-center">
          <a href="{% url 'home'%}" class="">
            <img style=" width: 40px; height: 40px; " class="my-2" src="{% static 'store/media/blue_neeyee_logo.png' %}" alt="">
          </a>
          <!--search bar-->
          <span class="d-flex me-2">
            <form class="d-flex mx-2 ">
              <input class="form-control " type="search" placeholder="Search" aria-label="Search">
              <button class="btn btn-outline-success" type="submit">Search</button>
            </form>
            <!--user icon-->
            <a href="">
              <img class=" m-2  " style=" width: 20px; height: 20px; "  src="{% static 'store/media/user.png' %}" alt="">
            </a>
            <!-- cart-->
            <a href="">
              <img style=" width: 20px; height: 20px; " class=" m-2  " src="{% static 'store/media/cart.png' %}" alt="">
            </a>
          </span>
        </div>
      </nav> 
      <p class="m-5" ></p>
    </div>


    <!-- for larger screens view -->
    <div class="container d-none d-md-block">
      <nav class="navbar navbar-tabs fixed-top navbar-light bg-light">
        <div class="container-fluid ">
          <a href="{% url 'home'%}">
            <img style=" width: 40px; height: 40px; " class="ms-5" src="{% static 'store/media/blue_neeyee_logo.png' %}" alt="">
          </a>
          
          <span class="d-flex me-5">
            <form class="d-flex mx-2 ">
              <input class="form-control " type="search" placeholder="Search" aria-label="Search">
              <button class="btn btn-outline-success" type="submit">Search</button>
            </form>
            <a href="">
              <img class=" m-2 " style=" width: 20px; height: 20px; "  src="{% static 'store/media/user.png' %}" alt="">
            </a>
    
            <a href="">
              <img style=" width: 20px; height: 20px; " class=" m-2 " src="{% static 'store/media/cart.png' %}" alt="">
            </a>
          </span>
        </div>
      </nav> 
      <p class="m-5" ></p>
    </div>

    {% endblock navbar %}


    {% block content%}

    {% endblock content%}


    
    {% block footer%}
    <footer>
      <div class="footer-content">
          <img src="img/light-logo.png" class="logo" alt="">
          <div class="footer-ul-container">
              <ul class="category">
                  <li class="category-title">men</li>
                  <li><a href="#" class="footer-link">t-shirts</a></li>
                  <li><a href="#" class="footer-link">sweatshirts</a></li>
                  <li><a href="#" class="footer-link">shirts</a></li>
                  <li><a href="#" class="footer-link">jeans</a></li>
                  <li><a href="#" class="footer-link">trousers</a></li>
                  <li><a href="#" class="footer-link">shoes</a></li>
                  <li><a href="#" class="footer-link">casuals</a></li>
                  <li><a href="#" class="footer-link">formals</a></li>
                  <li><a href="#" class="footer-link">sports</a></li>
                  <li><a href="#" class="footer-link">watch</a></li>
              </ul>
              <ul class="category">
                  <li class="category-title">women</li>
                  <li><a href="#" class="footer-link">t-shirts</a></li>
                  <li><a href="#" class="footer-link">sweatshirts</a></li>
                  <li><a href="#" class="footer-link">shirts</a></li>
                  <li><a href="#" class="footer-link">jeans</a></li>
                  <li><a href="#" class="footer-link">trousers</a></li>
                  <li><a href="#" class="footer-link">shoes</a></li>
                  <li><a href="#" class="footer-link">casuals</a></li>
                  <li><a href="#" class="footer-link">formals</a></li>
                  <li><a href="#" class="footer-link">sports</a></li>
                  <li><a href="#" class="footer-link">watch</a></li>
              </ul>   
          </div>
      </div>
      <p class="footer-title">about company</p>
              <p class="info">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Repellat tempore ad suscipit, eos eius quisquam sed optio nisi quae</p>
              <p class="info">support emails - help@clothing.com, customersupport@clothing.com</p>
              <p class="info">telephone - 180 00 00 001, 180 00 00 002</p>
              <div class="footer-social-container">
                  <div>
                      <a href="#" class="social-link">terms & services</a>
                      <a href="#" class="social-link">privacy page</a>
                  </div>
                  <div>
                      <a href="#" class="social-link">instagram</a>

                  </div>
              </div>
              <p class="footer-credit">Clothing, Best apparels online store</p>
  </footer>




    <p class="my-5" ></p>
    <nav class="navbar-brand pt-5 fixed-bottom">
      <div class=" col-12 container-fluid">
        <a class="btn col-3 bi bi-justify btn-light btn" href="{% url 'home'%}">Home
        </a>

        <a class="btn  col-3 bi bi-justify btn-light btn" href="{% url 'operation'"><span class="text-start">Operation</span>
        </a>
        
        <a class="btn col-3 bi bi-justify  btn btn-light btn" href="{% url 'myprofile' %">Profile
        </a>
        
        <a class="btn col-3 bi bi-justif  btn btn-light btn" href="{% url 'signin'%">Signin
        </a>

    
    {% endblock footer%}
    <!-- other css-->
    <script src="{% static 'store/script/index.js' %}"></script>
    <script src="{% static 'store/script/home.js' %}"></script>

    <!-- Bootstrap JS -->
    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-kenU1KFdBIe4zVF0s0G1M5b4hcpxyD9F7jL+jjXkk+Q2h455rYXK/7HAuoJl+0I4"
      crossorigin="anonymous"
    ></script>
    
  </body>
</html>
