
{% extends 'store/main.html' %}
{% load static %}
{% load account %}

{% block title %} Profile {% endblock %}

{% block navbar %} {% endblock navbar %}

{% block content %}

{% block nav%}




<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <div class="container-fluid">
    <a class="navbar-brand" href="{% url 'store_home'%}">
      <img src="{% static 'work/media/blue_neeyee_logo.png' %}" alt="neeyee logo" width="40" height="40">
    </a>
    <h6>Welcome, {% user_display user %}</h6>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarTogglerDemo02" aria-controls="navbarTogglerDemo02" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarTogglerDemo02">
      <ul class="navbar-nav me-auto mx-lg-5 mb-2 text-end-lg mb-lg-0">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="{% url 'store_home'%}">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="{% url 'store_product'%}">My Wadrobe</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{% url 'store_clientdetails' '+2347065727413' %}">My Measurements</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="{% url 'store_home'%}">Submit fabric for sewing</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="{% url 'store_home'%}">My Wishlist</a>
          </li>
        <li>
            <form action="{%url 'account_logout' %}"><button>
                Logout
            </button></form>
        </li>
      </ul>
      <!--
      <form class="d-flex">
        <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
        <button class="btn btn-outline-success" type="submit">Search</button>
      </form>
      -->
    </div>
  </div>
</nav>




{% endblock nav%}









{% endblock content %}