{% extends 'store/main.html' %}
{% load static %}

{% block title%} Products {% endblock%}


{% block content %}
<!--product card for mobile only-->

  <div class="container-fluid col-12 mb-2 d-block d-md-none">
    <div class="bg-light p-2 " >
        <h3 class="mx-1 mb-0 border text-center ">Amazing Products</h5>
    </div>
      
    <div class=" container-fluid product-container mx-0 bg-light row row-cols-4 row-cols-md-4 g-2  ">
      <div class="col">
        <div class="card h-100">
              <img src="{% static 'store/media/light_ash.jpg' %}" class="card-img-top" alt="...">
              <div class="text-start ">
                <h5 class=" small-text"> short sleeve pocket Kaftan</h5>
                <h6 class="col-12 price"><small> <strong>#65,999</strong></small></h6>
                <div class="small-text">
                  <span class="text start"><s>#86,6968</s></span>
                  <span class="text-end">50% Off</span>
                </div>
              </div>
        </div>
      </div>

      <div class="col">
        <div class="card h-100">
              <img src="{% static 'store/media/light_ash.jpg' %}" class="card-img-top" alt="...">
              <div class="text-start ">
                <h5 class=" small-text"> Ash with pocket Kaftan</h5>
                <h6 class="col-12 price"><small> <strong>#65,999</strong></small></h6>
                <div class="small-text">
                  <span class="text start"><s>#86,6968</s></span>
                  <span class="text-end">50% Off</span>
                </div>
              </div>
        </div>
      </div>

      <div class="col">
        <div class="card h-100">
              <img src="{% static 'store/media/light_ash.jpg' %}" class="card-img-top" alt="...">
              <div class="text-start ">
                <h5 class=" small-text"> blue with suit ppocket Kaftan</h5>
                <h6 class="col-12 price"><small> <strong>#65,999</strong></small></h6>
                <div class="small-text">
                  <span class="text start"><s>#86,6968</s></span>
                  <span class="text-end">50% Off</span>
                </div>
              </div>
        </div>
      </div>

      <div class="col">
        <div class="card h-100">
              <img src="{% static 'store/media/light_ash.jpg' %}" class="card-img-top" alt="...">
              <div class="text-start ">
                <h5 class=" small-text"> white with no pocket Kaftan</h5>
                <h6 class="col-12 price"><small> <strong>#65,999</strong></small></h6>
                <div class="small-text">
                  <span class="text start"><s>#86,6968</s></span>
                  <span class="text-end">50% Off</span>
                </div>
              </div>
        </div>
      </div>

      <div class="col">
        <div class="card h-100">
              <img src="{% static 'store/media/light_ash.jpg' %}" class="card-img-top" alt="...">
              <div class="text-start ">
                <h5 class=" small-text"> Brown cap with pocket Kaftan</h5>
                <h6 class="col-12 price"><small> <strong>#65,999</strong></small></h6>
                <div class="small-text">
                  <span class="text start"><s>#86,6968</s></span>
                  <span class="text-end">50% Off</span>
                </div>
              </div>
        </div>
      </div>



      
     
    </div>

    <nav aria-label="...">
      <ul class="pagination">
        <li class="page-item disabled">
          <a class="page-link">Previous</a>
        </li>
        <li class="page-item"><a class="page-link" href="#">1</a></li>
        <li class="page-item active" aria-current="page">
          <a class="page-link" href="#">2</a>
        </li>
        <li class="page-item"><a class="page-link" href="#">3</a></li>
        <li class="page-item">
          <a class="page-link" href="#">Next</a>
        </li>
      </ul>
    </nav>

  </div>


  




{% endblock content %}