

{% extends 'store/main.html' %}
{% load static %}
{% block title %} Home {% endblock %}

{% block content %}

<div class="container-fluid row-12">
	
		
	<div class="card">
		<div class="row">
			<aside class="col-sm-5 border-right">
	<article class="gallery-wrap"> 
	<div class="img-big-wrap ">
	  <div class="text-center "> <a href=""><img src="{{ image_1_url }}" id="large-image" ></a></div>
	</div> <!-- slider-product.// -->
	
	<div class="img-small-wrap">
	  <div class="item-gallery"> <img src="{{ image_1_url }}" class="small-image" data-src="{{ image_1_url }}" alt="product"> </div>
	  {% if image_2_url %}
	  <div class="item-gallery"> <img src="{{ image_2_url }}" alt="" data-src="{{ image_2_url }}" class="small-image"> </div>
	  {% endif %}
	  {% if image_3_url %}
	  <div class="item-gallery"> <img src="{{image_3_url }}" alt="" data-src="{{ image_3_url }}" class="small-image"> </div>
	  {% endif %}
	</div> <!-- slider-nav.// -->
	
	</article> <!-- gallery-wrap .end// -->
			</aside>
			<aside class="col-sm-7">
	<article class="card-body p-5">
		<h3 class="title mb-3">{{ products.name}}</h3>
	
	<p class="price-detail-wrap"> 
		<span class="price h3 text-primary"> 
			<span class="currency">#</span><span class="num">{{ products.discount_price}}</span>
		</span> 
	</p> <!-- price-detail-wrap .// -->
	<dl class="item-property">
	  <dt>Description</dt>
	  <dd><p>{{ products.description}}</p></dd>
	<dl class="param param-feature">
	  <dt>Delivery</dt>
	  <dd>{{ products.delivery}}</dd>
	</dl>  <!-- item-property-hor .// -->
	
	<hr>
		<div class="row">
			<div class="col-sm-5">
				<dl class="param param-inline">
				  <dt>Quantity: </dt>
				  <dd>
					  <select class="form-control form-control-sm" style="width:70px;">
						  <option> 1 </option>
						  <option> 2 </option>
						  <option> 3 </option>
					  </select>
				  </dd>
				</dl>  <!-- item-property .// -->
			</div> <!-- col.// -->
			<div class="col-sm-7">
				<dl class="param param-inline">
					  <dt>Available Size(s): </dt>
					  <dd>
						  <label class="form-check form-check-inline">
						  <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio2" value="option2">
						  <span class="form-check-label">SM</span>
						</label>
						<label class="form-check form-check-inline">
						  <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio2" value="option2">
						  <span class="form-check-label">MD</span>
						</label>
						<label class="form-check form-check-inline">
						  <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio2" value="option2">
						  <span class="form-check-label">XXL</span>
						</label>
					  </dd>
				</dl>  <!-- item-property .// -->
			</div> <!-- col.// -->
		</div> <!-- row.// -->
		<hr>
		<a href="#" class="btn btn-lg btn-primary text-uppercase"> Buy now </a>
		<a href="#" class="btn btn-lg btn-outline-primary text-uppercase"> <i class="fas fa-shopping-cart"></i> Add to cart </a>
	</article> <!-- card-body.// -->
			</aside> <!-- col.// -->
		</div> <!-- row.// -->
	</div> <!-- card.// -->
	
	
	</div>
	<!--container.//-->
	
	
	
</div>
	


{% endblock content %}