<!--product card for mobile only-->
<div class=" mb-5 d-block d-md-none">
    <div class="bg-light " >
        <h3 class="mx-2">Best selling</h5>
    </div>
    
        
    <div class="container-fluid product-container mx-0 bg-light row row-cols-3 row-cols-md-3 g-2  ">
        <button class="pre-btn"><img src="{% static 'store/media/arrow.png' %}" alt=""></button>
        <button class="nxt-btn"><img src="{% static 'store/media/arrow.png' %}" alt=""></button>
        <div class="col">
          <div class="card h-100">
                <img src="{% static 'store/media/light_ash.jpg' %}" class="card-img-top" alt="...">
                <div class="text-start ">

                    <h5 class=" small-text">Light Ash with suit pocket Kaftan</h5>
                    <h6 class="col-sm-6 text-start"><small> <strong>#65,00000</strong></small></h6>
                    <span class="row">
                        <small class=" col-12 small-text" style="opacity: 0.5;"><s>#80000000</s></small>
                        <span class="col-12 small-text">50% Off</span>
                </span>
                </div>
          </div>
        </div>

        
       
    </div>
</div>


