{% extends 'store/main.html' %}
{% load static %}


{% block content %}
<h2>Products</h2>


<button>
    <a href="{% url 'store_home' %}">home</a>
</button>

<button>
    <a href="{% url 'store_home' %}">clients in workapp</a>
</button>


   <!--the carrousel-->
   <p class="py-2"></p>
    
   <div id="carouselExampleInterval" class="carousel slide mt-5 " data-bs-ride="carousel">
       <div class="carousel-inner">
         <div class="carousel-item active" data-bs-interval="10000">
           <img src="{% static 'store/media/header.png' %}" class="d-block w-100" alt="...">
           <div class="carousel-caption">
               <h2>Limited-Time Offer: Up to 50% Off</h2>
               <p>Discover the Perfect Outfit for Every Occasion</p>
           </div>
         </div>
         <div class="carousel-item" data-bs-interval="2000">
           <img src="{% static 'store/media/header2.jpg' %}" class="d-block w-100" alt="...">
           <div class="carousel-caption Text-center ">
               <h2>Get Styled</h2>
               <p>"Timeless Elegance: Our New Arrivals"</p>
           </div>
         </div>
         <div class="carousel-item">
           <img src="{% static 'store/media/header3.jpg' %}" class="d-block w-100" alt="...">
           <div class="carousel-caption">
               <h2>Explore the Collection</h2>
               <p>Elevate Your Style with Our Latest Collection</p>
           </div>
         </div>
       </div>
       
       <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleInterval" data-bs-slide="prev">
         <span class="carousel-control-prev-icon" aria-hidden="true"></span>
         <span class="visually-hidden">P</span>
       </button>
       <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleInterval" data-bs-slide="next">
         <span class="carousel-control-next-icon" aria-hidden="true"></span>
         <span class="visually-hidden">N</span>
       </button>
   </div>

   {% endblock content %}