
{% extends 'core/main.html' %}
{% load static %}
{% block title %} Home {% endblock %}

{% block page_title %} Jobs {% endblock%}

{% block content %}


  <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css" rel="stylesheet">
  <div class="container py-5 my-5 row bootstrap snippets bootdeys "> 
      
    <div class="member-entry bg-secondary col-12">
      {% for job in jobs %}
        <a href="{% url 'jobdetails' job.id %}">
          <div class=" bg-light row d-flex align-items-center my-2 ">
            <img src="{{ job.fabric_image_1_image_url }}"  class="img-rounded col-4 d-flex justify-content-center ">
            <div class="h4 mx-1 col-6 ">{{ job.name }}</div>
            <span class="h7 em mx-2 d-flex justify-content-end"> Job done: {{ x.job_done }</span>     
          </div>
        </a> 
      {% endfor %}
    </div>
  </div>

{% endblock content %}
