
{% extends 'core/main.html' %}
{% load static %}
{% block title %} Home {% endblock %}

{% block content %}


  <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css" rel="stylesheet">
  <div class="container py-5 my-5">
  <div class="row bootstrap snippets bootdeys"> 
      <div class="col-md-9 col-sm-7"> 
          <h2>Jobss</h2> 
      </div> 
      
  <div class="member-entry bg-secondary col-12">
    {% for job in jobs %}
      <a href="{% url 'jobdetails' job.id %}">
        <div class=" bg-light row d-flex justify-content-start my-2">
          <img src="{{ job.fabric_image_1 }}" style="height: 100px; width: 100px;" class="img-rounded col-4 border">
          <div class="h4 mx-1 col-4 ">{{ job.name}}</div>
          {% for x in jobdones %}
            {% if x.name == job %}
              <span class="h6 mx-2 d-flex justify-content-end"> Job done: {{ x.job_done }}</span> 
            {% endif %}
          {% endfor %}
        </div>
      </a> 
    {% endfor %}


      

  </div>

{% endblock content %}
