footer{
    position: static;
    width: 100%;
    padding-bottom: 0px;
    background: #383838;
}


.footer-credit{
    width: 100%;
    padding: 10px;
    position: static;
    left: 0;
    bottom: 0;
    text-align: center;
    color: #fff;
    background: rgba(0, 0, 0, 0.2);
}


