

.product_text{
    line-height: normal;

}

.product_name{
    font-size: 6px;
    margin: 0.5px;
    
}

.discount_price{
   
    font-size: 20px;
    margin: 0.5px;
    


}

.discount_percentage{
    font-size: 4px;
   
    
}

.product_price{
    font-size: 4px;
    margin: 0.5px;
   
}

.text-size{
    font-size: 50px;
    /*background-color: rgba(214, 190, 190, 0.5); /* Semi-transparent background color */
    color: rgb(245, 240, 240); 
}

a{
    text-decoration: none;
    color: black;
}

