

.product_text{
    line-height: normal;

}


.text-size{
    font-size: 50px;
    /*background-color: rgba(214, 190, 190, 0.5); /* Semi-transparent background color */
    color: rgb(245, 240, 240); 
}

a{
    text-decoration: none;
    color: black;
}

