@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@500&display=swap');

*{
    margin: 0;
    padding: 0;
}

:root{
    /* background-colors */
    --bg-blue:#0438f8;
    --bg-white: #fff
    --bg-light-white: #f5f5f5;

    /* Text color */
    --primary-font: "Manrope", sans-serif;
    --text-white: #fff;
    --text-black: #121232;
    --text-blue: #0438f8;
}

body{
    font-family: var(--primary-font);
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.75rem;
    background: var(--bg-white);
    color: var(--text-black);
    overflow-x: hidden;
}

a,a:hover{
    text-decoration: none;
}

p{
    margin: 0;
}

.btn-primary{
    background: var(--bg-blue);
    padding: 0.8rem 1.5rem;
    font-size: 1rem;
    font-weight: 500;
}
.btn-primary:hover{
    color: var(--text-black);
    background: transparent;
}


/* NAV CSS */
#header .fixed-top{
    box-shadow:  0 0.12rem 0.675rem rgb(0 0 0 / 5%);
}
.navbar-brand{
    width: 150px;
}
#header .navbar-nav .nav-item .nav-link{
    color: var(--text-black);
    padding: 0.5rem 1rem;
    text-align: center;
}

#header .navbar-nav .nav-item .nav-link:hover,
#header .navbar-nav .nav-item .nav-link:active{
    color: var(--bg-blue);
}

#header .navbar-toggler:focus{
box-shadow: none;
}
.cart-icon{
    display: flex;
    align-items: center;
    justify-content: center;
}

.shopping-cart{
    display: none;
    border: 1px solid;
    position: absolute;
    top: 12%;
    padding: 1rem;
    border-radius: 1.5rem;
    width: 30rem;
    height: 30rem;
    background: #fff;
    z-index: 10;
}

.shopping-cart.active{
    display:block;
    right: 2rem;
}
.shopping-cart .box{
    display: flex;
    height: 5rem;
    align-items: center;
    gap: 1rem;
    position: relative;
    margin: 1rem 0;
    border-bottom: 1px solid black;
    overflow: hidden;
}

.shopping-cart .box .content{
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.shopping-cart .box .content h3{
    color: var(--text-black);
    font-size: 1rem;
}
.shopping-cart .box .content span{
    color: #666;
    font-size: 0.8rem;
}

.shopping-cart .box .fa-trash{
    font-size: 1.5rem;
    position: absolute;
    top: 50%;
    right: 2rem;
    cursor: pointer;
    color: #666;
    transform: translateY(-50%);
}
.shopping-cart .box .fa-trash:hover{
    color: var(--bg-blue);
}
.shopping-cart .total{
    font-size: 1.5rem;
    padding: 1rem 0;
    text-align: center;
    color: var(--text-black);
}
.shopping-cart .btn{
    margin: 1rem 4rem;
    display: block;
    padding: 0.8rem 3rem;
    border-radius: 0.5rem;
}
/* Home CSS */
.home .home-banner-1,
.home .home-banner-2{
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 90% center;
    min-height: 650px;
    position: relative;
}
.home .home-banner-1{
    background-image: url(./images/hero/slider-bg1.jpg);
}
.home .home-banner-2{
    background-image: url(./images/hero/slider-bg2.jpg);
}

.home .home-banner .home-banner-text{
    position: absolute;
    top: 50%;
    left: 30%;
    transform: translate(-110%, -50%);
}
.home .home-banner .home-banner-text h1{
    font-size: 6rem;
}

.home .carousel-indicators [data-bs-target]{
    background-color: var(--bg-blue);
    width: 2.5rem;
    height: 0.313rem;
}

.carousel-control-next{
    z-index: -1;
}
.carousel-control-next-icon,
.carousel-control-prev-icon{
    background: transparent;
}


/* offer css */
.offers{
    padding-top: 0.75rem;
}

.offers .offer-box .offer-image:before{
    position: absolute;
    content: '';
    top: 0;
    left: -100%;
    z-index: 2;
    display: block;
    width: 50%;
    height: 100%;
    background: -webkit-linear-gradient(to right, rgba(255,255,255,0) 0%, rgba(255,255,255,0.3) 100%);
    background: linear-gradient(to right, rgba(255,255,255,0) 0%, rgba(255,255,255,0.3) 100%);
    transform: skewX(-25deg);
}

.offers .offer-box .offer-image img{
    transform: scale(1.02);
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.offers .offer-box:hover .offer-image::before{
    animation: effect_shine 1s;
}
@keyframes effect_shine{
    100%{
        left: 150%;
    }
}

.offers .offer-overlay::before{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    height: 100%;
    width: 100%;
    background: rgba(0,0,0,0.3);
    z-index: 1;
}

.offers .offer-box .offer-info{
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    z-index: 1;
    transition: all 250ms ease-out;
    justify-content: center;
    align-items: center;
}

.offers .offer-box .offer-info .heading-bigger{
    font-size: 4.375rem;
    line-height: 1;
    text-transform: uppercase;
    font-weight: 400;
    margin-bottom: 0;
    color: var(--text-white);
}

.offers .offer-box .offer-info .offer-title-1{
    color: var(--text-white);
    font-size: 1.125rem;
    font-weight: 300;
    margin-bottom: 0;
    letter-spacing: 2px;
}
.offers .offer-box .offer-info .btn-outline-primary{
    color: var(--text-white);
    border-color: var(--bg-white);
    transition: all 0.3s ease-in-out;
}

.offers .offer-box .offer-info .btn-outline-primary:hover{
    border-color:  var(--bg-blue);
    background-color: var(--bg-blue);
}

/* Products CSS */ 
.products{
    padding-top:8.75rem;
}

.headline h2::before{
    content:'';
    width:30%;
    height:0.125rem;
    background-color: var(--bg-blue);
    position:absolute;
    bottom:0;
    left:50%;
    transform:translate(-50%, -50%);
    border-radius: 0.625rem;
}
.products a{
    text-decoration: none;
    color:var(--text-black);
}
.product-list .product-image img:hover{
    transition:all 500ms ease-in-out;
}
.product-list .product-image img:hover{
    transform: scale(0.8);
}

.product-list .product-image .sale{
    background:var(--bg-blue);
    border-radius: 0.313rem;
    color:var(--text-white);
    font-size: 0.813rem;
    letter-spacing: 0.125rem;
    line-height: 1.563rem;
    padding:0.125rem 0.813rem;
    text-transform: uppercase;
    position:absolute;
    left:1rem;
    top:1.188rem;
    z-index: 99;
}
.product-list .product-name h3{
    font-size: 1.125rem;
    color:var(--text-black);
    transition:all 0.3s ease 0s;
}
.product-list .product-name h3:hover{
    color:var(--text-blue);
}
.product-list .product-name .amount{
    color:var(--text-blue);
    font-weight: 500;
}
.product-list .product-name .amount del{
    color:var(--text-gray);
}
.product-list .product-name .fa-star{
    color:var(--text-gray);
}
.product-list .product-name .fa-star.active{
    color:var(--text-blue);
}
.product-list .product-name .add_to_Cart{
    background:transparent;
    border:none;
    font-size: 1.2rem;
    font-weight: 500;
    transition:all 0.3s ease 0s;
}
.product-list .product-name .add_to_Cart:hover{
    color:var(--text-blue);
}

/* banner section */
.content{
    height: 290px;
}

.content h2{
    font-weight: bold;
    padding-top: 80px;
    padding-left: 30px;
    font-size: 1.2rem;
}
.content p,
.content .button{
    padding-left: 30px;
    font-weight: 500;
}
.content .button{
    padding-top: 30px;
}


/* Special Countdown CSS */
.special{
    padding:6rem 0;
    background:var(--bg-light-white);
}
.special .countdown-container{
    padding-top:4.375rem;
}
.special .countdown-container p{
    color:var(--text-dark-gray);
    font-weight: 300;
    line-height: 1.875rem;
}
.special .countdown-container .countdown-counter{
    display:block;
    width:100%;
    margin:0;
    padding:0;
    margin-bottom:1.875rem;
}
.special .countdown-container .countdown-counter li{
    display:inline-block;
    font-size: 0.875rem;
    font-weight: bold;
    text-align: center;
    background:var(--bg-white);
    border-radius: 0.313rem;
    padding:2rem 1rem;
    width:15%;
    margin: 0 0.313rem;
}
.special .countdown-container .countdown-counter li span{
    font-weight: 500;
}
.special .countdown-container .countdown-price del{
    color:var(--text-gray);
    font-size: 1rem;
}
.special-div{
    display: flex;
    align-items: center;
}
.special .special-img span{
    background:var(--bg-blue);
    border-radius: 0.313rem;
    color:var(--text-white);
    font-size: 0.813rem;
    letter-spacing:0.125rem;
    line-height:1.563rem;
    padding:0.125rem 0.813rem;
    text-transform: uppercase;
    position:absolute;
    left:1rem;
    top:1.188rem;
    z-index: 99;
}
/* Blog Section */
#blog{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 40px;
    border-bottom: 1px solid rgba(0,0,0,0.0.05);
}


.blog-container{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 20px 0;
    flex-wrap: wrap;
}
.blog-box{
    width: 350px;
    background-color: #ffffff;
    border: 1px solid #ececec;
    margin: 20px;
}
.blog-img{
    width: 100%;
    height: auto;
}
.blog-img img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
}
.blog-text{
    padding: 30px;
    display: flex;
    flex-direction: column;
}
.blog-text span{
    color: var(--bg-blue);
    font-size: 0.9rem;
}
.blog-text .blog-title{
    font-size: 1.3rem;
    font-weight: 500;
    color: var(--text-black);
}
.blog-text .blog-title:hover{
    color: var(--bg-blue);
    transition: all ease 0.3s;
}
.blog-title p{
    color: var(--text-gray);
    font-size: 0.9rem;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
    margin: 20px 0px;
}
.blog-text a{
    color: var(--text-black);
}
.blog-text a:hover{
    color: var(--bg-blue);
    transition: all ease 0.3s;
}

/* Contact CSS */
.contact{
    padding:4rem 0;
    background-color:var(--bg-light-white);
}
.contact .row h4{
    margin-left: 13px;
}
.contact .info li p a{
    font-size: 1rem;
    display:inline-block;
    margin:0.75rem 0;
    color:var(--text-black);
} 
.contact .form-group{
    margin-bottom:1.5rem;
}
.contact .form-control{
    height:3.75rem;
    padding:0.375rem 1.1875rem;
    border:none;
    font-size: 1rem;
    box-shadow: 0 0.1875rem 1.25rem 0 rgb(0 0 0 / 12%);
}
.contact .textarea{
    width:100%;
    border-radius: 0.25rem;
    padding:0.75rem 1.1875rem;
    border:none;
    font-size: 1rem;
    margin-top:0.3125rem;
    box-shadow: 0 0.1875rem 1.25rem 0 rgb(0 0 0 / 12%);;
}
.contact .textarea:focus{
    outline:none;
    border:none;
}

/* Footer CSS */
.copyright{
    background: var(--bg-blue);
}
.copyright p,
.copyright a{
    color:var(--text-white);
}


















@media (min-width:1041px){
    /* Home CSS */
    .home .home-banner-1,
    .home .home-banner-2{
        min-height: 550px;
    }
    .home .home-banner .home-banner-text{
        transform: translate(-70%, -50%);
    }
}

@media (max-width:1040px){
    /* Home CSS */
    .home .home-banner .home-banner-text{
        transform: translate(-55%, -50%);
    }
}

@media (max-width:867px){
    /* Home CSS */
    .home .home-banner-1,
    .home .home-banner-2{
        background-position: 50% center;
        min-height: 450px;
    }
    .home .home-banner .home-banner-text{
        text-align: center;
        width: 100%;
        transform: translate(-60%, -50%);
    }
    .home .home-banner .home-banner-text h1{
        font-size: 3rem;
    }
    .home .home-banner .home-banner-text h2{
        font-size: 1.2rem;
    }
    .home .home-banner .home-banner-text .btn-primary{
        padding: 0.5rem 1.5rem;
    }
    .offers .offer-box .offer-info .heading-bigger {
        font-size: 2.375rem;
    }
}

@media (max-width:678px){
    /* Home CSS */
    .home .home-banner .home-banner-text{
        transform: translate(-55%, -50%);
    }
}

@media (max-width:530px){
    .shopping-cart{
        width: -webkit-fill-available;
    }
    /* Home CSS */
    .home .home-banner .home-banner-text{
        transform: translate(-48%, -50%);
    }
}
@media (max-width:330px){
    .shopping-cart{
        width: -webkit-fill-available;
    }
    /* Home CSS */
    .home .home-banner .home-banner-text h2{
       font-size: 1rem;
    }
}

/* offer css */
@media only screen and (max-width: 995px) and (min-width: 570px){
    .third-offer{
        left: 50%;
    }
}