.product_text{
    line-height: normal;

}

.product_name{
    font-size: 9px;
    margin: 0.5px;
    
}

.discount_price{
   
    font-size: 11px;
    margin: 0.5px;
    


}

.discount_percentage{
    font-size: 6px;
   
    
}

.product_price{
    font-size: 7px;
    margin: 0.5px;
   
}